<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>

                <tbody>
                    {% for todo_list in todo_lists %}
                        <tr>
                            <td>{{ todo_list.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </main>
</body>


</html>
